{{define "actor"}}You whirl {{entity .partner}} around the room.{{end}}
{{define "partner"}}{{entity .actor}} whirls you around the room.{{end}}
{{define "others"}}{{entity .actor}} whirls {{entity .partner}} around the room.{{end}}
